In [1]:
# Pandas stand for Panel Data and is the core library for data manipulation and data analysis
# it consists of single and multi dimensional data structures for data manipulation

# Single dimensional data structure is known as Series Object
# Multi Dimensional data structure is known as Dataframe

In [9]:
# Pandas Series Object
import pandas as pd 
l1=[1,2,3,4,5]
s1= pd.Series(l1) # creating a series object using list, indexing starts from 0
s1

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
type(s1)

pandas.core.series.Series

In [11]:
# changing the index of panda series object, suppose you want alpha indexing instead
l1=[1,2,4,5,6]
s1= pd.Series(l1, index=["a","b","c","d","e"])
s1

a    1
b    2
c    4
d    5
e    6
dtype: int64

In [15]:
# creating a series object from a dictionary
l2={"a":"my", "b":"name", "c":"Satya"}
s2= pd.Series(l2)
s2
# dictionary.key would be our index value, and dictionary.value would be our value

a       my
b     name
c    Satya
dtype: object

In [20]:
# changing indexes of series object whose input is dictionary
s2= pd.Series(l2, index=['a','b','c','d'])
s2

a       my
b     name
c    Satya
d      NaN
dtype: object

In [21]:
#Extracting individual Elements
l1=[1,2,3,4,5]
s1= pd.Series(l1) 
s1[3]

4

In [22]:
s1[-3:]

2    3
3    4
4    5
dtype: int64

In [23]:
s1[:3]

0    1
1    2
2    3
dtype: int64

In [24]:
s1[::-1]

4    5
3    4
2    3
1    2
0    1
dtype: int64

In [26]:
#Adding Value Scalar values to Series objects

l1=[1,2,3,4,5]
s1= pd.Series(l1) 
s2=s1+2

In [27]:
s1+s2

0     4
1     6
2     8
3    10
4    12
dtype: int64

In [28]:
s1*s2

0     3
1     8
2    15
3    24
4    35
dtype: int64

In [29]:
s1-s2

0   -2
1   -2
2   -2
3   -2
4   -2
dtype: int64

In [31]:
# Dataframe is a 2-dimensional labelled data-strcture
# A data-frame comprises of rows and columns

df1=pd.DataFrame({'Name': ["Satya","Krishna","Raja","Arjun"], "Gains":["low","high","Extreme","low"]})
df1

      Name    Gains
0    Satya      low
1  Krishna     high
2     Raja  Extreme
3    Arjun      low

In [39]:
# first five rows of a dataframe head()
# shape (not a method)to see the shape of dataframe
# describe() to know about dataframe
# last few rows of a dataframe  tail()

iris= pd.read_csv('iris.csv')
iris.head(10)

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa
7           5.0          3.4           1.5          0.2  setosa
8           4.4          2.9           1.4          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

In [34]:
iris.tail()

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [70]:
iris.shape[0] #will return row length
iris.shape[1] # will return columd 
iris.shape

(150, 5)

In [37]:
iris.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [38]:
# extract individual rows and columns in datafram iloc[0:1,0:2], first row and two columns
iris.iloc[0:3,0:4]

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2

In [41]:
iris.loc[5:11, ("Petal.Length", "Species")]

    Petal.Length Species
5            1.7  setosa
6            1.4  setosa
7            1.5  setosa
8            1.4  setosa
9            1.5  setosa
10           1.5  setosa
11           1.6  setosa

In [44]:
# to drop a row or column 

iris.drop("Species",1) # 1 represnts a column, 0 represents to row

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [45]:
iris.drop([1,2,3],0)

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
5             5.4          3.9           1.7          0.4     setosa
6             4.6          3.4           1.4          0.3     setosa
7             5.0          3.4           1.5          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[147 rows x 5 columns]

In [49]:
iris.drop(iris.tail(5).index,0) # to drop last row

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
140           6.7          3.1           5.6          2.4  virginica
141           6.9          3.1           5.1          2.3  virginica
142           5.8          2.7           5.1          1.9  virginica
143           6.8          3.2           5.9          2.3  virginica
144           6.7          3.3           5.7          2.5  virginica

[145 rows x 5 columns]

In [50]:
# mean median 
iris.mean() # mean value of all column

Sepal.Length    5.843333
Sepal.Width     3.057333
Petal.Length    3.758000
Petal.Width     1.199333
dtype: float64

In [51]:
iris.median() # median value of all columns

Sepal.Length    5.80
Sepal.Width     3.00
Petal.Length    4.35
Petal.Width     1.30
dtype: float64

In [52]:
iris.min() # min value of each column

Sepal.Length       4.3
Sepal.Width        2.0
Petal.Length       1.0
Petal.Width        0.1
Species         setosa
dtype: object

In [53]:
iris.max() # max value of each column

Sepal.Length          7.9
Sepal.Width           4.4
Petal.Length          6.9
Petal.Width           2.5
Species         virginica
dtype: object

In [58]:
def doubleMake(s):
    return s*2

In [59]:
iris[["Sepal.Width","Petal.Width"]].apply(doubleMake)

     Sepal.Width  Petal.Width
0            7.0          0.4
1            6.0          0.4
2            6.4          0.4
3            6.2          0.4
4            7.2          0.4
..           ...          ...
145          6.0          4.6
146          5.0          3.8
147          6.0          4.0
148          6.8          4.6
149          6.0          3.6

[150 rows x 2 columns]

In [60]:
iris['Species'].value_counts() # returns the count value of each Species, Setosa has occured 50 times in the Species column

versicolor    50
virginica     50
setosa        50
Name: Species, dtype: int64

In [61]:
iris

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [62]:
iris.sort_values(by="Petal.Length")

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
22            4.6          3.6           1.0          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa
14            5.8          4.0           1.2          0.2     setosa
35            5.0          3.2           1.2          0.2     setosa
36            5.5          3.5           1.3          0.2     setosa
..            ...          ...           ...          ...        ...
131           7.9          3.8           6.4          2.0  virginica
105           7.6          3.0           6.6          2.1  virginica
117           7.7          3.8           6.7          2.2  virginica
122           7.7          2.8           6.7          2.0  virginica
118           7.7          2.6           6.9          2.3  virginica

[150 rows x 5 columns]

In [67]:
# DataFrame.sample
iris.DataFrame()

AttributeError: 'DataFrame' object has no attribute 'DataFrame'